<!doctype html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <div class="container p-3 my-3 bg-dark text-white">
                User name: <span th:text="${userName}">Test</span>.
                Roles:
                <tr th:each="role : ${allRoles}">
                    <td><span th:text="${role.role}"> Name</span></td>
                </tr>
            </div>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" th:href="@{/logout}">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
</head>
<body>
<div class="row">

    <div class="col-xs-6 col-md-4">
        <div class="column">
            <ul class="list-group" th:each="role : ${allRoles}">
                <li class="list-group-item" th:text="${role.role}">role</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-10 col-md-8">
        <div align="left">
            <h2>Admin panel</h2>

            <ul class="nav nav-tabs">
                <!-- Первая вкладка (активная) -->
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#description">Active</a>
                </li>
                <!-- Вторая вкладка -->
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#characteristics">New user</a>
                </li>
            </ul>

            <div class="tab-content">
                <!-- Первый блок (он отображается по умолчанию, т.к. имеет классы show и active) -->
                <div class="tab-pane fade show active" id="description">
                    <table class="table table-striped" border="1" cellpadding="5">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Password</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${listUser}">
                            <td><span th:text="${user.id}"> Id </span></td>
                            <td><span th:text="${user.name}"> Name</span></td>
                            <td><span th:text="${user.password}"> Password</span></td>
                            <td>
                                <a class="btn btn-info" role="button"
                                   data-toggle="modal"
                                   data-target="#modalEdit"
                                   th:attrappend="data-target=${user.id}"
                                >Edit bewe</a>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModalCenter" th:attrappend="data-target=${user.id}">
                                    Edit
                                </button>
                                <a class="btn btn-danger" th:href="@{'/delete?id=' + ${user.id}}"
                                   role="button">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Второй блок -->
                <div class="tab-pane fade" id="characteristics">
                    <form action="#" th:action="@{/save}" th:object="${user}" method="post">
                        <div class="row-cols-md-1">
                            <div class="row">
                                <div class="col justify-content-center">
                                    <div class="form-group">
                                        <label th:for="*{name}">Имя</label>
                                        <div class="input_data"><input type="text" th:field="*{name}"/></div>
                                    </div>
                                    ​
                                    <div class="form-group">
                                        <label th:for="*{password}">Пароль</label>
                                        <div class="input_data"><input type="text" th:field="*{password}"/></div>
                                    </div>
                                    <div><label th:for="*{roles}">Роли</label></div>
                                    <div class="form-group">
                                        <select id="roles" name="roles" multiple>
                                            <option th:each="role : ${allRoles}" th:value="${role}"
                                                    th:text="${role.role}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <input class="btn btn-primary" type="submit"/>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<!--модальное окно редактирования-->
<div class="modal fade" id="modalEdit" th:attrappend="id=${user.id}"
     tabindex="-1" role="dialog"
     aria-labelledby="TitleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleModalLabel">Edit
                    user</h5>
                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="form justify-content-center mx-auto col-6">
                    <form th:action="@{/admin/edit}" method="post">
                        <div class="form-group">
                            <label for="IdEditUser">Id</label>
                            <div>
                                <input type="number" name="idEdit"
                                       readonly class="form-control"
                                       id="IdEditUser"
                                       th:value="${user.id}">
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label for="firstNameEditUser">First-->
                                <!--name</label>-->
                            <!--<div>-->
                                <!--<input type="text"-->
                                       <!--name="firstNameEdit"-->
                                       <!--class="form-control"-->
                                       <!--id="firstNameEditUser"-->
                                       <!--th:value="${user.name}">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="lastNameEditUser">Last-->
                                <!--name</label>-->
                            <!--<div>-->
                                <!--<input type="text"-->
                                       <!--name="lastNameEdit"-->
                                       <!--class="form-control"-->
                                       <!--id="lastNameEditUser"-->
                                       <!--th:value="${user.lastName}">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="ageEditUser">Age</label>-->
                            <!--<div>-->
                                <!--<input type="number"-->
                                       <!--name="ageEdit"-->
                                       <!--class="form-control"-->
                                       <!--id="ageEditUser"-->
                                       <!--th:value="${user.age}">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="emailEditUser">Email</label>-->
                            <!--<div>-->
                                <!--<input type="email"-->
                                       <!--name="emailEdit"-->
                                       <!--class="form-control"-->
                                       <!--id="emailEditUser"-->
                                       <!--aria-describedby="emailHelp"-->
                                       <!--th:value="${user.email}">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label for="passwordEditUser">Password</label>
                            <div>
                                <input type="password"
                                       name="passwordEdit"
                                       class="form-control"
                                       id="passwordEditUser">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="roleEditUser">Role</label>
                            <div>
                                <select name="editRole" size="2"
                                        multiple
                                        class="form-control"
                                        id="roleEditUser">
                                    <option th:each="role : ${allRoles}"
                                            th:value="${role}"
                                            th:text="${role.role}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="submit"
                                    class="btn btn-primary">Edit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" th:attrappend="id=${user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form:form action="save" method="post" modelAttribute="user">
                    <table border="0" cellpadding="5">
                        <tr>
                            <td>name:</td>
                            <td>
                                <input type="text" th:name="name" th:value="${user.name}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>password:</td>
                            <td>
                                <input type="text" th:name="password" th:value="${user.password}"/>
                            </td>
                        </tr>
                        <!--<form th:action="@{/save}" method="post" th:object="${user}">-->
                        <!--<input type="submit"/>-->
                        <!--</form>-->
                        <form th:action="@{/edit/(id=${user.id})}" method="post" th:object="${user}">
                            <input type="submit"/>
                        </form>
                    </table>
                    <!--<button type="submit" th:action="@{/save}">Go</button>-->
                </form:form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>