<!doctype html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <div class="container p-3 my-3 bg-dark text-white">
                User name: <span th:text="${userName}">Test</span>.
                Roles:
                <tr th:each="role : ${allRoles}">
                    <td><span th:text="${role.role}"> Name</span></td>
                </tr>
            </div>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" th:href="@{/logout}">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
</head>
<body>
<div class="row">

    <div class="col-xs-6 col-md-4">
        <div class="column">
            <ul class="list-group" th:each="role : ${allRoles}">
                <li class="list-group-item" th:text="${role.role}">role</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-10 col-md-8">
        <div align="left">
            <h2>Admin panel</h2>

            <ul class="nav nav-tabs">
                <!-- Первая вкладка (активная) -->
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#main">Active</a>
                </li>
                <!-- Вторая вкладка -->
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#new">New user</a>
                </li>
            </ul>

            <div class="tab-content">
                <!-- Первый блок (он отображается по умолчанию, т.к. имеет классы show и active) -->
                <div class="tab-pane fade show active" id="main">
                    <table class="table table-striped" border="1" cellpadding="5">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Password</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${listUser}">
                            <td><span th:text="${user.id}"> Id </span></td>
                            <td><span th:text="${user.name}"> Name</span></td>
                            <td><span th:text="${user.password}"> Password</span></td>
                            <td>
                                <a class="btn btn-info" role="button"
                                   th:attrappend="id=${user.id}"
                                   data-toggle="modal"
                                   data-target="#modalEdit">Edit</a>
                                <a class="btn btn-danger" role="button"
                                   th:attrappend="id=${user.id}"
                                   data-toggle="modal"
                                   data-target="#modalDelete">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Второй блок -->
                <div class="tab-pane fade" id="new">
                    <!--<div class="form justify-content-center mx-auto col-6">-->
                        <!--<form th:action="@{/save}" method="post">-->

                            <!--<div class="form-group">-->
                                <!--<label for="nameEditUser">First-->
                                    <!--name</label>-->
                                <!--<div>-->
                                    <!--<input type="text"-->
                                           <!--name="firstNameEdit"-->
                                           <!--class="form-control"-->
                                           <!--id="nameEditUser"-->
                                           <!--th:value="${user.name}">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="passwordEditUser1">Password</label>-->
                                <!--<div>-->
                                    <!--<input type="password"-->
                                           <!--name="passwordEdit"-->
                                           <!--class="form-control"-->
                                           <!--id="passwordEditUser1">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="roleEditUser1">Role</label>-->
                                <!--<div>-->
                                    <!--<select name="editRole" size="2"-->
                                            <!--multiple-->
                                            <!--class="form-control"-->
                                            <!--id="roleEditUser1">-->
                                        <!--<option th:each="role : ${allRoles}"-->
                                                <!--th:value="${role}"-->
                                                <!--th:text="${role.role}"></option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="modal-footer">-->
                                <!--<button type="button"-->
                                        <!--class="btn btn-secondary"-->
                                        <!--data-dismiss="modal">Close-->
                                <!--</button>-->
                                <!--<button type="submit"-->
                                        <!--class="btn btn-primary">Save-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                    <div class="card-body text-center">
                        <div class="form justify-content-center mx-auto col-md-3">
                            <form th:action="@{/save}" th:object="${user}" th:method="post">
                                <div class="form-group">
                                    <label><strong>First name</strong></label>
                                    <input type="text" class="form-control" placeholder="Name" name="name">
                                </div>
                                <!--<div class="form-group">-->
                                    <!--<label><strong>Last name</strong></label>-->
                                    <!--<input type="text" class="form-control" placeholder="Last name" name="lastName">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label><strong>Age</strong></label>-->
                                    <!--<input type="text" class="form-control" placeholder="Age" name="age">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label><strong>Username</strong></label>-->
                                    <!--<input type="text" class="form-control" placeholder="Username" name="username">-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label><strong>Password</strong></label>
                                    <input type="password" class="form-control" placeholder="Password" name="password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect"><strong>Role</strong></label>
                                    <select multiple class="form-control" id="exampleFormControlSelect" size="3" name="userRoles">
                                        <option th:value="${allRoles[0].role}" selected="selected" th:text="${allRoles[0].role}"></option>
                                        <option th:value="${allRoles[1].role}"th:text="${allRoles[1].role}" ></option>
                                        <!--<option th:value="${roles[2].role}"th:text="${roles[2].role}" ></option>-->
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-success">Add new user</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--модальное окно редактирования-->
<div class="modal fade" id="modalEdit"
     tabindex="-1" role="dialog"
     aria-labelledby="TitleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleModalLabel">Edit
                    user</h5>
                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="form justify-content-center mx-auto col-6">
                    <form th:action="@{/save}" method="post">
                        <div class="form-group">
                            <label for="IdEditUser">Id</label>
                            <div>
                                <input type="number" name="idEdit"
                                       readonly class="form-control"
                                       id="IdEditUser"
                                       th:value="${user.id}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nameEditUser1">First
                                name</label>
                            <div>
                                <input type="text"
                                       name="nameEdit"
                                       class="form-control"
                                       id="nameEditUser1"
                                       th:value="${user.name}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="passwordEditUser">Password</label>
                            <div>
                                <input type="password"
                                       name="passwordEdit"
                                       class="form-control"
                                       id="passwordEditUser">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="roleEditUser">Role</label>
                            <div>
                                <select name="editRole" size="2"
                                        multiple
                                        class="form-control"
                                        id="roleEditUser">
                                    <option th:each="role : ${allRoles}"
                                            th:value="${role}"
                                            th:text="${role.role}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="submit"
                                    class="btn btn-primary">Edit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Модальное окно удаление-->
<div class="modal fade" id="modalDelete"
     tabindex="-1" role="dialog"
     aria-labelledby="TitleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleModalLabel1">Delete
                    user</h5>
                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="form justify-content-center mx-auto col-6">
                    <form th:action="@{'/delete?id=' + ${user.id}}" method="post">
                        <div class="form-group">
                            <label for="IdDeleteUser">Id</label>
                            <div>
                                <input type="number" name="idDelete"
                                       readonly class="form-control"
                                       id="IdDeleteUser"
                                       th:value="${user.id}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nameDeleteUser">First
                                name</label>
                            <div>
                                <input type="text"
                                       name="nameDelete"
                                       class="form-control"
                                       id="nameDeleteUser"
                                       th:value="${user.name}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="passwordDeleteUser">Password</label>
                            <div>
                                <input type="password"
                                       name="passwordDelete"
                                       class="form-control"
                                       id="passwordDeleteUser">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="roleDeleteUser">Role</label>
                            <div>
                                <select name="deleteRole" size="2"
                                        multiple
                                        class="form-control"
                                        id="roleDeleteUser">
                                    <option th:each="role : ${allRoles}"
                                            th:value="${role}"
                                            th:text="${role.role}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="submit"
                                    class="btn btn-primary">Delete
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>